# Python cache files and compiled python files/classes
__pycache__/
*.py[cod]
*$py.class

# Application specific files generated at runtime
# Override with "git add -f User_Projects/*" to update example User Projects
**/config.ini
User_Projects/

# Ignore PyCharm, VSCode and Vivado files
**/.idea/
.idea/
**/.vscode/
.vscode
**/*.log
*.log
**/*.jou
*.jou